<!DOCTYPE html>


<html>
    <head>
        
        <style>
            body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
            button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            }

            button:hover {
            opacity: 0.8;
            }
            .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
            }

        </style>
    </head>
    <body id="target">
        
        <h1>You are just a few steps away from the chest</h1>
        <p>Congratulations on making this far,</p>
        <p>In this page is hidden a 'code' which takes you to the final step.</p>
        <p>It is just in front of you, you just need to look harder,</p>
        <p>From bottom you will find it at the farther.</p>
        <p>Once you find the thing which you are looking for, save it and click <a href="https://www.jsonwebtoken.io/">here</a></p>
    </body>
    
        
                
</html>
